# Pandas Exercises

In [ ]:
## Read HR_Employee_Attrition_Data.csv file as pandas DataFrame

In [2]:
import pandas as pd
hr = pd.read_csv('HR_Employee_Attrition_Data.csv')
hr.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,3,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,4,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,5,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
## Read first 6 and last 7 rows

In [32]:
hr.loc[-7:]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,3,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,4,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,5,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,6,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,7,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,8,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,9,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,10,...,2,80,2,17,3,2,7,7,7,7
10,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,11,...,3,80,1,6,5,3,5,4,0,3
11,29,No,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,12,...,4,80,0,10,3,3,9,5,0,8
12,31,No,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,13,...,4,80,1,5,1,2,5,2,4,3
13,34,No,Travel_Rarely,1346,Research & Development,19,2,Medical,1,14,...,3,80,1,3,2,3,2,2,1,2
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,15,...,2,80,0,6,4,3,4,2,0,3
15,29,No,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,16,...,3,80,1,10,1,3,10,9,8,8
16,32,No,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,17,...,4,80,2,7,5,2,6,2,0,5
17,22,No,Non-Travel,1123,Research & Development,16,2,Medical,1,18,...,2,80,2,1,2,2,1,0,0,0
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,19,...,3,80,0,31,3,3,25,8,3,7
19,38,No,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,20,...,3,80,0,6,3,3,3,2,1,2
20,24,No,Non-Travel,673,Research & Development,11,2,Other,1,21,...,4,80,1,5,5,2,4,2,1,3
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,22,...,2,80,0,10,4,3,5,3,0,3
22,34,No,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,23,...,3,80,0,13,4,3,12,6,2,11
23,21,No,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,24,...,4,80,0,0,6,3,0,0,0,0
24,34,Yes,Travel_Rarely,699,Research & Development,6,1,Medical,1,25,...,3,80,0,8,2,3,4,2,1,3
25,53,No,Travel_Rarely,1282,Research & Development,5,3,Other,1,26,...,4,80,1,26,3,2,14,13,4,8
26,32,Yes,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,27,...,2,80,0,10,5,3,10,2,6,7
27,42,No,Travel_Rarely,691,Sales,8,4,Marketing,1,28,...,4,80,1,10,2,3,9,7,4,2
28,44,No,Travel_Rarely,477,Research & Development,7,4,Medical,1,29,...,4,80,1,24,4,3,22,6,5,17
29,46,No,Travel_Rarely,705,Sales,2,4,Marketing,1,30,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2910,36,No,Travel_Frequently,688,Research & Development,4,2,Life Sciences,1,2911,...,2,80,3,18,3,3,4,2,0,2
2911,56,No,Non-Travel,667,Research & Development,1,4,Life Sciences,1,2912,...,1,80,1,13,2,2,13,12,1,9
2912,29,Yes,Travel_Rarely,1092,Research & Development,1,4,Medical,1,2913,...,2,80,3,4,3,4,2,2,2,2
2913,42,No,Travel_Rarely,300,Research & Development,2,3,Life Sciences,1,2914,...,1,80,0,24,2,2,22,6,4,14
2914,56,Yes,Travel_Rarely,310,Research & Development,7,2,Technical Degree,1,2915,...,4,80,1,14,4,1,10,9,9,8
2915,41,No,Travel_Rarely,582,Research & Development,28,4,Life Sciences,1,2916,...,3,80,1,21,3,3,20,7,0,10
2916,34,No,Travel_Rarely,704,Sales,28,3,Marketing,1,2917,...,4,80,2,8,2,3,8,7,1,7
2917,36,No,Non-Travel,301,Sales,15,4,Marketing,1,2918,...,1,80,1,15,4,2,15,12,11,11
2918,41,No,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2919,...,3,80,1,14,5,3,5,4,0,4
2919,32,No,Travel_Rarely,529,Research & Development,2,3,Technical Degree,1,2920,...,4,80,0,4,4,3,4,2,1,2
2920,35,No,Travel_Rarely,1146,Human Resources,26,4,Life Sciences,1,2921,...,3,80,0,9,2,3,9,0,1,7
2921,38,No,Travel_Rarely,345,Sales,10,2,Life Sciences,1,2922,...,3,80,1,10,1,3,10,7,1,9
2922,50,Yes,Travel_Frequently,878,Sales,1,4,Life Sciences,1,2923,...,4,80,2,12,3,3,6,3,0,1
2923,36,No,Travel_Rarely,1120,Sales,11,4,Marketing,1,2924,...,1,80,1,8,2,2,6,3,0,0
2924,45,No,Travel_Rarely,374,Sales,20,3,Life Sciences,1,2925,...,3,80,0,8,3,3,5,3,0,1
2925,40,No,Travel_Rarely,1322,Research & Development,2,4,Life Sciences,1,2926,...,4,80,0,8,2,3,2,2,2,2
2926,35,No,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2927,...,4,80,2,10,2,4,10,2,0,2
2927,40,No,Travel_Rarely,1194,Research & Development,2,4,Medical,1,2928,...,2,80,3,20,2,3,5,3,0,2
2928,35,No,Travel_Rarely,287,Research & Development,1,4,Life Sciences,1,2929,...,4,80,1,4,5,3,4,3,1,1
2929,29,No,Travel_Rarely,1378,Research & Development,13,2,Other,1,2930,...,1,80,1,10,2,3,4,3,0,3
2930,29,No,Travel_Rarely,468,Research & Development,28,4,Medical,1,2931,...,2,80,0,5,3,1,5,4,0,4
2931,50,Yes,Travel_Rarely,410,Sales,28,3,Marketing,1,2932,...,2,80,1,20,3,3,3,2,2,0
2932,39,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2933,...,1,80,1,21,2,2,20,9,9,6
2933,31,No,Non-Travel,325,Research & Development,5,3,Medical,1,2934,...,2,80,0,10,2,3,9,4,1,7
2934,26,No,Travel_Rarely,1167,Sales,5,3,Other,1,2935,...,4,80,0,5,2,3,4,2,0,0
2935,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2936,...,3,80,1,17,3,3,5,2,0,3
2936,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2937,...,1,80,1,9,5,3,7,7,1,7
2937,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2938,...,2,80,1,6,0,3,6,2,0,3
2938,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2939,...,4,80,0,17,3,2,9,6,0,8
2939,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2940,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
## List all columns and data types for each

In [25]:
hr.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [ ]:
## Find descriptive statistics for all columns

In [22]:
hr.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,2940.000000,2940.000000,2940.000000,2940.000000,2940.0,2940.000000,2940.000000,2940.000000,2940.000000,2940.000000,...,2940.000000,2940.0,2940.000000,2940.000000,2940.000000,2940.000000,2940.000000,2940.000000,2940.000000,2940.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1470.500000,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.133819,403.440447,8.105485,1.023991,0.0,848.849221,1.092896,20.325969,0.711440,1.106752,...,1.081025,0.0,0.851932,7.779458,1.289051,0.706356,6.125483,3.622521,3.221882,3.567529
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,735.750000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1470.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,2205.250000,4.000000,84.000000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2940.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [ ]:
## Find average age of people whose Attrition and is Yes and No separately

In [5]:
hr[hr.Attrition =='No'].Age.mean()
hr[hr.Attrition =='Yes'].Age.mean()
hr.groupby('Attrition').Age.mean()
hr.loc[hr.Attrition == 'Yes','Age'].mean()

33.607594936708864

In [ ]:
## Find average daily rate for people whose Attrition is Yes and No separately

In [ ]:
## Find the Department where Attrition rate is highest

In [15]:
#hr[hr.Attrition =='Yes'].groupby('Department').Attrition.count().sort_values(ascending =False).index[0]
hr[hr.Attrition =='Yes'].Department.value_counts()

Research & Development    266
Sales                     184
Human Resources            24
Name: Department, dtype: int64

In [ ]:
## For people who Travel Rarely and from Sales department what is the average daily rate?

In [16]:
hr.BusinessTravel.value_counts()

Travel_Rarely        2086
Travel_Frequently     554
Non-Travel            300
Name: BusinessTravel, dtype: int64

In [21]:
hr.loc[(hr.BusinessTravel == 'Travel_Rarely') & (hr.Department =='Sales'),'DailyRate'].mean()

795.6222222222223